modules = ["nodejs-20", "web", "postgresql-16"]
[agent]
expertMode = true

[nix]
channel = "stable-25_05"

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "Project"
mode = "parallel"
author = "agent"

[[workflows.workflow.tasks]]
task = "workflow.run"
args = "Start application"

[[workflows.workflow]]
name = "Start application"
author = "agent"

[workflows.workflow.metadata]
outputType = "webview"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "npm run dev"
waitForPort = 5000

[[ports]]
localPort = 5000
externalPort = 80

[userenv]

[userenv.shared]
NEXTAUTH_URL = "https://64ae0227-d49e-4ac6-a7a4-b577a466d735-00-1vewbqheyel9z.picard.replit.dev"
APP_HOSTNAME = "64ae0227-d49e-4ac6-a7a4-b577a466d735-00-1vewbqheyel9z.picard.replit.dev"
STORAGE_PROVIDER = "supabase"
SUPABASE_STORAGE_BUCKET = "pages"

[deployment]
deploymentTarget = "autoscale"
run = ["node_modules/.bin/next", "start", "-p", "5000", "-H", "0.0.0.0"]
build = ["npm", "run", "build"]
